<!--Head-->
<%- include("partials/head") %>
<body>
    <!--Header-->
    <%- include("partials/header") %>
<section>

    <div class="fondo">
        <div class="titulobanner">
            <h2 >Lo mas Visitado!!</h2>
        </div>
        
       <div class="masVisitados">
       
            <%for (let index = 0; index < 4; index++) {
                let random = Math.random();
                random = random * 13 - 1;
                random = Math.trunc(random);
                
                %> <a href="/products/detail/<%=productos[random].id%>" class="visitadouni"><div class="cajaVisitados"><img src="/img/productos/<%=productos[random].image%>" alt="">
                    <h2><%=productos[random].name%></h2></div></a>
                <%
                
            } 
            
            %>
               
            </div>
            <div class="masVisitados">
            <div><span class="icon-credit-card"></span> <h2>Hasta 12 Cuotas con tu tarjeta de credito</h2></div>
            <div><span class="icon-truck"></span> <h2>Envio Gratis desde $15000</h2></div> 
       </div>
    </div>
</section>
<!--Footer-->
<%- include("partials/footer") %>
</body>
</html>